<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waniltonfilho.personaltasks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.TaskManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.activities.LoginMainActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".controller.activities.LoginFormActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activities.LoginMainActivity" />
        </activity>
        <activity
            android:name=".model.TesteCustomView"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".controller.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.activities.ListActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activities.MainActivity" />

        </activity>

        <activity android:name=".teste.ActivityMonthTeste">

        </activity>

        <activity android:name=".teste.Grafico2">

        </activity>

        <activity android:name=".controller.activities.Chart"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activities.MainActivity" />
        </activity>
    </application>



</manifest>
